{% extends 'nota/index.html' %}

{% block content %}
<a href="{% url 'importation' %}" class="navbar-brand" style="color: white;">Importações</a>
<a href="{% url 'calcularab1' %}" class="navbar-brand" style="color: white;">Calcular AB1</a>
<a href="{% url 'calcularab2' %}" class="navbar-brand" style="color: white;">Calcular AB2</a>

<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'resolution' %}">Notas individuais</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'notas' %}">Notas Gerais</a>
      </li>
    </ul>
  </div>

</nav>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="myfile">
    <input type="text" value="lista6" name="lista" style="display: none;">
    <button type="submit">upload</button>
</form>
{% endblock %}