{% extends 'nota/index.html' %}

{% block content %}
<form action="{% url 'searchindividual' %}" method="POST" class="form-inline my-2 my-lg-0">
    {% csrf_token %}
    <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar nome..." name="search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
</form>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'resolution' %}">Notas individuais</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'notas' %}">Notas Gerais</a>
      </li>
    </ul>
  </div>

</nav>
<table class="table">
    <thead class="thead-dark">
        <tr>
            {% for coluna in colunas%}
            <th scope="col">{{coluna}}</th>
            {% endfor%}
      </tr>
    </thead>
    <tbody>
        {%for aluno in alunos%}
        <tr>
            <td>{{aluno.nome}}</td>
            <td>{{aluno.turma}}</td>
            <td>{{aluno.prova1}}</td>
            <td onmousemove="nota(event)" class="tt" data-bs-placement="bottom" title="">{{aluno.lista1}}/12</td>
            <td onmouseover="nota(event)" class="tt" data-bs-placement="bottom" title="">{{aluno.lista2}}/23</td>
            <td>{{aluno.prova2}}</td>
            <td onmouseover="nota(event)" class="tt" data-bs-placement="bottom" title="">{{aluno.lista3}}/9</td>
            <td onmouseover="nota(event)" class="tt" data-bs-placement="bottom" title="">{{aluno.lista4}}/14</td>
            <td>{{aluno.prova3}}</td>
            <td onmouseover="nota(event)" class="tt" data-bs-placement="bottom" title="">{{aluno.lista5}}/29</td>
            <td onmouseover="nota(event)" class="tt" data-bs-placement="bottom" title="">{{aluno.lista6}}/11</td>
            <td>{{aluno.prova4}}</td>
            <td onmouseover="nota(event)" class="tt" data-bs-placement="bottom" title="">{{aluno.lista7}}/12</td>
            <td onmouseover="nota(event)" class="tt" data-bs-placement="bottom" title="">{{aluno.lista8}}/14</td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
  <script>
    const tooltips = document.querySelectorAll('.tt')
    tooltips.forEach(t => {
      new bootstrap.Tooltip(t)
    })

    function nota(e) {
      var valores = e.target.innerText.split('/')
      e.target.dataset.originalTitle = (valores[0] / 58 * 3).toFixed(2).toString() + ' pontos'
    }
  </script>
{% endblock %}